html {
  background: #ffffff;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial,
    Sans-serif;
  background-color: transparent;
  color: #333333;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}



@media only screen and (min-width: 120px) {



  /* NAVBAR */
  .menu {
    width: 100px;
    height: 100px;
    z-index: 1000;
    position: fixed;
    top: -1px;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toggle {
    height: 30px;
    width: 30px;
  }

  .menu li {
    transform-origin: 50px;
    transform: rotate(0deg) translateX(40px);
    position: absolute;
    list-style: none;
    left: 0;
    transition: calc(0.1s * var(--i));
  }

  .menu li a {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45;
    background: #fff;
    color: #000000;
    border-radius: 50%;
    transform: rotate(calc(360deg / -7 * var(--i)));
    /* box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15); */
    transition: 0.5s;
  }

  .menu.active li {
    transform: rotate(calc(360deg / 7 * var(--i)));
  }

  .menu li a:hover {
    color: red;
  }

  .toggle {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50;
    transition: transform 1.2s;
  }

  .menu.active .toggle {
    transform: rotate(360deg);
  }

  /* NAVBAR END */



  /* FIRST PART */

  .salute {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .saluteTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* FACE CODE */

  #section div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .face {
    width: 100%;
    position: relative;
    background-color: red;
  }

  .face .face-img {
    display: block;
    margin: 0px;
    width: 100%;
  }

  .face a {
    color: #757575;
    text-decoration: none;
  }

  .face .coder,
  .face .designer {
    position: absolute;
    width: 40%;
    display: block;
    /* z-index: 10; */
    height: 20%;
    /* vertical centering */
    margin: auto;
    top: 0;
    bottom: 0;
  }

  .face .coder h1,
  .face .designer h1 {
    display: block;
    font-size: 15px;
  }

  .coder .description {
    margin-left: 25px;
  }

  .designer .description h1,
  .coder .description h1 {
    font-size: 12px;
  }

  .face .designer {
    left: 0;
  }

  .face .coder {
    right: 0;
    text-align: left;
  }

  .face .designer-img,
  .face .coder-img,
  .face .designer-bg,
  .face .coder-bg,
  .face .coder p,
  .face .designer p {
    display: none;
  }

  .saluteImg {
    width: 100%;
  }

  /* FACE CODE END */
  /* FIRST PART END */

  .intro {
    border-bottom: 5px solid black;
  }

  .container {
    overflow: hidden;
  }



  .name {
    font-size: 8vw;
    color: #d1d1d1;
    cursor: default;
    text-align: center;
  }

  .jobTitleContainer {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dark {
    background: url("../images/bg1.png");
  }

  .purple {
    background: rebeccapurple url("../images/bg2.png");
  }

  .jobTitle {
    font-size: 8vw;
    color: #333;
    line-height: 40vh;
    cursor: default;
  }

  .githubContainer {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(240, 235, 230);
  }

  .box {
    width: 15px;
    height: 15px;
    background-color: #cac6c6;
    border-radius: 2px;
    cursor: pointer;
    transition: 3s all ease;
  }

  .active:nth-child(4n) {
    background-color: #00a42f;
  }

  .githubChart:hover .active:nth-child(2n + 1) {
    background-color: #00a42f;
  }

  .githubChart:hover .active:nth-child(2n) {
    background-color: #00a42f;
  }

  .githubSm {
    display: none;
  }

  .githubChart {
    width: 820px;
  }

  .dates {
    padding: 10px;
    color: #555;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }

  .boxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .salute {
    max-width: 100%;
  }




  .nameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    background-color: rebeccapurple;
  }

  .githubTitle {
    margin-top: -100px;
    font-size: 18px;
    color: #333;
  }

  .githubTitle h1 {
    padding: 0;
    margin: 0;
  }

  .githubChart {
    margin-top: -200px;
    transform: scale(0.4);
  }


}